@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
#home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #222222;
    background-color: #f8f2e7;
    padding: 0 100px;
}

.content1 {
    display: flex;
    flex-direction: column;
    padding-top: 170px;
}

.title h1 {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.image {
    background-image: url('../Imagenes/img1.jpg');
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 270px;
}

.content2 {
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    padding-left: 20px;
}

    .content2 .image {
        background-image: url('../Imagenes/img2.jpg');
    }

.title p {
    margin-bottom: 0;
    margin-top: 33px;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

.content2 button {
    padding: 14px 27px;
    margin-top: 30px;
    background-color: #de6900;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

